<%- include('../partials/header') %>

<div id='assets-page'>
    <table id="assetsList">
        <thead>
          <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Price</th>
            <th>Income</th>
            <th>Expenses</th>
            <th>Details</th>

          </tr>
        </thead>
        <tbody> 
          
          <% assets.forEach((asset) => { %>
          <tr>
            <td><%= asset.type %></td>
            <td><%= asset.nickname %></td>
            <td><%= asset.price %></td>
            <td><%= asset.income %></td>
            <td><%= asset.expenses %></td>
            <td><%= asset.details %></td>
            <td><a href='/assets/<%= asset._id %>/delete'>Delete</a></td>

          </tr>

          <% }) %>
        </tbody>
        </table>

  </div>

<%- include('../partials/footer') %>