<%- include('../partials/header') %>

  
    <div id='assets-page'>
      
      <div id='companies'>

        <h2>Companies</h2>
        <table>
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody> 
              
              <% assets.forEach((asset) => { %>
                <% if (asset.type === 'Company') { %>
              <tr>
                <td><%= asset.nickname %></td>
                <td><a href='/assets/<%= asset._id %>/details'>Info</a></td>
  
              </tr>
                <% } %>
              <% }) %>
            </tbody>
            </table>
        
      </div>

      <div id='properties'>
        <h2>Properties</h2>
        <table>
            <thead>
              <tr>
                <th>Address</th>
              </tr>
            </thead>
            <tbody> 
              
              <% assets.forEach((asset) => { %>
                <% if (asset.type === 'Property') { %>
              <tr>
                <td><%= asset.nickname %></td>
                <td><a href='/assets/<%= asset._id %>/details'>Info</a></td>
  
              </tr>
                <% } %>
              <% }) %>
            </tbody>
            </table>
      </div>

      <div id='stock'>
        <h2>Stock</h2>
        <table>
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody> 
              
              <% assets.forEach((asset) => { %>
                <% if (asset.type === 'Stock') { %>
              <tr>
                <td><%= asset.nickname %></td>
                <td><a href='/assets/<%= asset._id %>/details'>Info</a></td>
  
              </tr>
                <% } %>
              <% }) %>
            </tbody>
            </table>
      </div>

          <!-- <button><a href='/assets/new'>New Asset</a></button> -->

    </div>



<%- include('../partials/footer') %>