<%- include('../partials/header') %>

    <div id='assets-page'>
      <table id="assetsList">
          <thead>
            <tr>
                <tr>
                    <th>Type</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Income</th>
                    <th>Expenses</th>
                    <th>Details</th>
                  </tr>
            </tr>
          </thead>
          <tbody>
            <% assets.forEach(function(asset) { %>
                <tr>
                  <td><%= asset.type %></td>
                  <td><%= asset.name %></td>
                  <td><%= asset.price %></td>
                  <td><%= asset.income %></td>
                  <td><%= asset.expenses %></td>
                  <td><%= asset.details %></td>
                  <td><a href="/assets/">DETAILS</a></td>
                </tr>
                <% }); %>
            </tbody>
          </table>

          <button><a href='/assets/new'>Create Asset</a></button>

    </div>



<%- include('../partials/footer') %>