<%- include('../partials/header') %>

<div id='update-asset-page'>
    <form id="update-form" href='/assets/<%= asset._id %>/update' method="POST">
        

            <label>Name</label>
            <input type="text" name="nickname" value=<%= asset.nickname %>>
        
            <label>Price</label>
            <input type="text" name="price" value=<%= asset.price %>>    
        
            <label>Income</label>
            <input type="text" name="income" value=<%= asset.income %>>
        
            <label>Expenses</label>
            <input type="text" name="expenses" value=<%= asset.expenses %>>
     
            <label>Details</label>
            <input type="text" name="details" value=<%= asset.details %>>    
    
        <input id='submit' type="submit" value="Update">
      </form>

</div>

<%- include('../partials/footer') %>